<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.quote.auth.mapper.LoginUserMapper">

	<resultMap id="loginUserMap" type="com.demo.quote.auth.pojo.LoginUser">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="login" property="login" jdbcType="VARCHAR" />
		<result column="pass" property="pass" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="defaultRoleId" property="defaultRoleId" jdbcType="VARCHAR" />
	</resultMap>

	<select id="loadUserByUsername" resultMap="loginUserMap"
		parameterType="java.lang.String">
		select id,name,login,pass
		from t_account
		where login=#{login}
	</select>
</mapper>